.cardscss{
    border: none;
    background-color: transparent;
    border-top-right-radius:15px ;
    border-bottom-right-radius:15px ;
    border-top-left-radius:0px ;
    border-bottom-left-radius:0px ;
}

div:hover{
    background-color: #D9D7F1;
    color: blueviolet;
}
