.cardscss:hover{
    background-color: #D9D7F1;
}

.cardscss{
    background-color: transparent;
    border: none;
}

.brcss{
    border-radius: 15px;  
}

.black-color{
    color: black;
}

.colorp{
    color:lightslategrey;
}

.btn:hover{
    transform: scale(1.5);
    transform-origin: top left;
}
